<nav id="sidebar-icon-links">
  <a id="subscribe-link"
     class="icon" title="Twitter" aria-label="Twitter"
     href="{{ site.twitter.url }}">
    {% include svg/twitter.svg %}
  </a>

  <a id="subscribe-link"
     class="icon" title="Keybase" aria-label="Keybase"
     href="{{ site.keybase.url }}">
    {% include svg/keybase.svg %}
  </a>

  <a id="subscribe-link"
     class="icon" title="LinkedIn" aria-label="LinkedIn"
     href="{{ site.linkedin.url }}">
    {% include svg/linkedin.svg %}
  </a>

</nav>
