/*
  Layout

  Styles for managing the structural hierarchy of the site.
  Hydeout features the large colored sidebar from Hyde that houses the
  site name, intro, and "footer" content. Sidebar is on top of content on
  mobile and expands into sidebar on larger width displays.

  Sidebar CSS assumes HTML looks like this for post pages:

    body
    > #sidebar
      > header (primary sidebar content -- i.e. title)
        > h1 (home page only, otherwise div or span)
      > secondary nav content we may want to hide on certain pages
    > .container
      > h1 (non-home page)
      > .content

  Basic approach is to color in body, make sidebar background transparent,
  and then fill in the .container or .content elements depending on how far
  we want the sidebar or header to stretch.
*/

@mixin scrimGradient($startColor: #FFF, $direction: 'to top') {

  $scrimCoordinates: (
    0: 1,
    19: 0.738,
    34: 0.541,
    47: 0.382,
    56.5: 0.278,
    65: 0.194,
    73: 0.126,
    80.2: 0.075,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
  );

  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();

  @each $colorStop, $alphaValue in $scrimCoordinates {
    $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
    $stops: append($stops, $stop, comma);
  }

  background-image: linear-gradient(unquote($direction), $stops);

}

#home-logo > img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  min-width: 500px;
  max-width: 500px;
  z-index: -1;
  opacity: 0.5;
}

$animate: all 0.2s ease-in-out;


#home-links {
  text-align: center;
  min-width: 100%;

  .page-link {
    // margin: 0px 20px;
    color: white;
  }
}

.home-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 45px;
    .page-link {
      text-decoration: none;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      transition: $animate;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: $animate;
        transition-duration: 0.4s;
        opacity: 0;
        background-color: darken(orange,5%);
      }
      &.page-link {
        &:before {
          left: 50%;
        }
        &:after {
          right: 50%;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .page-link {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
        &.page-link {
          &:before,
          &:after {
            width: 50%;
          }
        }
      }
    }
  }


#home-links:after {
  display: table;
  clear: both;
}

.home-link {
  width: 33.33%;
  float: left;
  padding: 15px;
  min-height: 5rem;
}

@media only screen and (min-width: 750px) {
  .odd-home-link2 {
    width: 50%;
  }
  .odd-home-link1 {
    width: 100%;
  }
  .home-canvas {
    max-width: 900px;
    min-width: auto;
    margin: 0px auto;
    padding-top: 40vh;
  }
}

[class*="col-"] {

  border: 1px solid red;
}

@media only screen and (max-width: 750px) {
  #home-logo > img {
    min-width: 400px;
    max-width: 400px;
    margin-top: -200px;
    margin-left: -200px;
  }

  .home-link {
    width: 100%;
  }

  #home-links .home-link:nth-child(odd) {
    clear: left !important;
  }
  .home-canvas {
    max-width: 600px;
    min-width: auto;
    margin: 0px auto;
    padding-top: 10vh;
  }
}

body {
  color: $sidebar-text-color;
  background-color: lighten($sidebar-bg-color, 7%);
  @include scrimGradient(darken($sidebar-bg-color, 7%));
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.page-conference-title {
  margin-top: 0px !important;
}

#sidebar {
  flex: 0 0 auto;
  padding: $section-spacing $section-spacing 0em $section-spacing;
  max-height: calc(100vh - 5em);
  .site-title {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: $large-font-size;
    margin-top: 0;
    margin-bottom: $heading-spacing;

    .back-arrow { margin-right: 0.5rem; }
  }
}

#sidebar::-webkit-scrollbar {
  display: none;
}


#sidebar-footer {
  padding: 1em 2em;
}

.bio-pic {
  display: inline-block;
}

.bio-pics .bio-pic:first-child {
  padding-right: 20px;
}

#logo-image {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

// Container is flexbox as well -- we want content div to stretch and fill
.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background: $body-bg;

  > .content {
    flex-grow: 1;
    padding-bottom: $section-spacing * 2;
  }
}

.content {
  background: $body-bg;
  color: $body-color;
  padding: $section-spacing;
}

#content-banner + div:first-of-type {
  padding: 0em 2em 2em 2em;
}

#content-banner {
    position: relative;
    object-fit: cover;
    min-height: 9rem;
    min-width: 100%;
    object-position: 20% 50%;
}

/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */

// Hide secondary nav content in sidebar
// Hide lead paragraph in sidebar
#sidebar {
  header ~ *, header ~ nav, p.lead {
    display: none;
  }
}

// Make header elements blend into sidebar / background
.container > header {
  color: $gray-6;
  background: transparent;
  margin: $section-spacing
          $section-spacing
          0;

  h1, h2 {
    color: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


/* -----------------------------------------------------------
  Mobile view for home page)
----------------------------------------------------------- */

.home #sidebar {

  // Center sidebar content
  text-align: center;

  // Bigger title
  .site-title {
    font-size: 2rem;
  }

  // Show secondary nav content + lead
  header ~ *, p.lead {
    display: block;
  }

  header {
    ~ nav {
      display: flex;
    }
  }

  // Slightly more bottom padding to compensate for heading not match 100% of
  // line-height on top
  > *:last-child {
    margin-bottom: 0.5rem;
  }
}


/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

@media (min-width: $large-breakpoint) {
  body {
    flex-direction: row;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    > * {
      max-height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  #content-banner + div:first-of-type {
    padding: 0em 4em 4em 4em;
  }

  /* Undo mobile CSS */

  #sidebar, .home #sidebar {
    width: $sidebar-width;
    text-align: left;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #sidebar {
    .site-title {
      font-size: 2rem;
      .back-arrow { display: none; }
    }

    p.lead, header ~ * {
      display: block;
    }

    header ~ nav {
      display: flex;
    }
  }

  .index #sidebar { margin-bottom: 0; }

  // Make entire container background white to contrast against sidebar
  .container {
    color: $body-color;
    padding: $section-spacing * 2
             $section-spacing * 2
             0;
    height: 100vh;

    > header {
      color: $heading-color;
      margin: 0;
      h1, h2 {
        color: inherit;

        &:last-child {
          margin-bottom: $heading-spacing;
        }
      }
    }

    > * {
      max-width: 38rem;
      padding: 0;
    }
  }

  .container-stripped {
    padding: 0;
  }

}


/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a, #sidebar-footer a {
  color: $sidebar-link-color;

  svg {
    fill: $sidebar-icon-color;
  }

  &:hover, &:focus, &.active {
    svg { fill: $sidebar-icon-color; }
  }

  &:hover, &:focus {
    text-decoration: underline;
    &.icon {
      text-decoration: none;
    }
  }

  &.active {
    font-weight: bold;
  }
}

#sidebar .site-title {
  color: $sidebar-title-color;
  a { color: inherit; }
}

#sidebar-email {
  font-size: 0.9rem;

  svg {
    font-size: 1rem;
  }
}

#sidebar nav {
  display: flex;
}

#sidebar-nav-links {
  flex-flow: column nowrap;
}

#sidebar-icon-links {
  padding-top: 20px;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;

  @media (min-width: $large-breakpoint) {
    margin-left: -0.25em;
    justify-content: flex-start;
  }

  a:not(:last-child) {
    padding-right: 1em;
  }
}

#sidebar nav > * {
  display: block;
  line-height: 1.75;
}

#sidebar nav > .icon {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 0.25em;
}

//
// /* -----------------------------------------------------------
//   Sticky sidebar
//
//   Set $sidebar-stick variable to affix sidebar contents to the
//   bottom of the sidebar in tablets and up.
// ----------------------------------------------------------- */
//
@if $sidebar-sticky {
  @media (min-width: $large-breakpoint) {
    #sidebar-footer {
      bottom: 0;
      position: fixed;
    }
  }
}


/* -----------------------------------------------------------
  Reverse layout

  Flip the orientation of the page by placing the `#sidebar`
  on the right.
----------------------------------------------------------- */

@if $layout-reverse {
  @media (min-width: $large-breakpoint) {
    .container {
      order: -1;
    }
  }
}
