---
layout: page
---

<div class="page">
  <div class="bio-pics">
  {% for pic in page.bio-pics %}
    <a class="bio-pic" href="{{ "/assets/images/" | append: pic.img | relative_url }}" data-lightbox="bio">
      <img src="{{ "/assets/images/" | append: pic.thumb | relative_url }}" alt="{{pic.title}}">
    </a>
  {% endfor %}
  </div>
  {% if page.hide_title %}
  <h1 class="page-title">{{page.title}}</h1>
  {% endif %}
  {{content}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
  <script src="/assets/js/lightbox-plus-jquery.min.js"></script>
</div>
