---
layout: page
---

<div class="page">
  <div class="bio-pics">
  {% for pic in page.bio-pics %}
    <a class="bio-pic" href="{{ "/assets/images/" | append: pic.img | relative_url }}" data-lightbox="bio">
      <img src="{{ "/assets/images/" | append: pic.thumb | relative_url }}" alt="{{pic.title}}">
    </a>
  {% endfor %}
  </div>
  {% if page.hide_title %}
  <h1 class="page-title">{{page.title}}</h1>
  {% endif %}
  <p>Saher Naumaan is a Threat Intelligence Analyst at BAE Systems Applied Intelligence. She currently researches state-sponsored cyber espionage with a focus on threat groups and activity in the Middle East. Saher specialises in analysis covering the intersection of geopolitics and cyber operations, and regularly speaks at public and private conferences around the world, including SAS, Virus Bulletin, FIRST, and BSides. She is also the organizer of RESET (2018 and 2019), the first cybersecurity conference in Europe with an all female line-up. Prior to working at Applied Intelligence, Saher graduated from King’s College London with a Master’s in Intelligence and Security, where she received the Barrie Paskins Award for Best MA dissertation in War Studies.</p>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
  <script src="/assets/js/lightbox-plus-jquery.min.js"></script>
</div>
