---
layout: page
---

{{content}}

<br />

{% for presentation in site.presentations reversed %}
<div class="">
  <img width="100px" src="{{ "/assets/images/" | append: presentation.image | relative_url}}">
</div>
<header>
  <h4 class="page-conference">{{ presentation.conference }} - {{ presentation.date | date: "%B %Y"}}</h4>
  <h4 class="page-conference-title">{{ presentation.title }}</h4>
</header>
<div class="">
  {{ presentation.content }}
</div>
<hr>
{% endfor %}

{% include text_expand.html %}
